 body {
      text-align: center;
      font-family: Arial;
      margin-top: 200px;
      background-color: #FEC627;
    }

.pitcher {
	color: #003263;
	font-weight: bold;
	font-size: 180px;
	text-transform: uppercase;
}
